@import 'variables';
@import 'mixin';

* {
  box-sizing: border-box;
  font-family: 'system-ui', serif;
}

html, body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

a {
  color: $primary;
  text-decoration: none;
}

.page-container {
  padding: 1rem;
}

.button {
  display: inline-block !important;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}
.header-title {
  font-size: 2rem;
  font-weight: bold;
}
.header-logo {
  height: 40px;
  vertical-align: bottom;
}

.card {
  margin: 0 auto 1rem;
  max-width: 500px;
  @include box-shadow();

  &:last-child {
    margin-bottom: 0;
  }
}
.card-body {
  padding: 1.25rem;
}

#nprogress {
  .bar {
    height: 3px !important;
    background: $primary !important;
  }
  .peg {
    box-shadow: 0 0 10px $primary, 0 0 5px $primary !important;
  }
  .spinner {
    display: none !important;
  }
}
