@import 'variables';

* {
  box-sizing: border-box;
  font-family: 'Microsoft JhengHei', serif;
}

html, body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

a {
  color: $primary;
  text-decoration: none;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.card {
  margin: 0 auto 1rem;
  max-width: 500px;
  box-shadow: 0 4px 9px rgba($black, 0.5);

  &:last-child {
    margin-bottom: 0;
  }
}
.card-body {
  padding: 1.25rem;
}

#nprogress {
  .bar {
    height: 3px !important;
    background: $primary !important;
  }
  .peg {
    box-shadow: 0 0 10px $primary, 0 0 5px $primary !important;
  }
  .spinner-icon {
    border-top-color: $primary !important;
    border-left-color: $primary !important;
  }
}
